.App {
  text-align: center;
  max-width: 600px;
  
  background-color:rgb(4, 97, 97);
  margin:auto;
  padding:10px;
  color:white;
}

.pass-btn{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.charlen{
  display:flex;
  justify-content: space-between;
}

.checkboxx{
  display:grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  justify-items: flex-start;
  margin-top: 15px;
  margin-bottom: 10px;
  
}

.generate{
  padding:8px;
  background-color:rgb(169, 121, 48);
  color:whitesmoke;
  border-radius: 10px;
  outline: none;
}

.copy{
  background-color: black;
  color:white;
  padding:7px;
  border-radius:10px;
}

.password{
  color:rgb(47, 211, 63)
}